OPENAI_API_KEY=
VITE_API_URL=http://localhost:5000
VITE_ENV=development
SES_FROM_EMAIL=
FRONTEND_BASE_URL=http://localhost:5173
AWS_REGION=us-east-2
PILOT_WAITLIST_ENABLED=false
CONVERSATION_TABLE_NAME=conversation_v2
VITE_SKIP_AUTH=false
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DEFAULT_REGION_NAME=us-east-2
USE_SUPABASE=true
